@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* color:#474747
   color: #FD6E0A
 */

/* Navbar Start */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}

.nav-title{
    font-size: 45px;
    font-family:open sans;
    font-weight: 800;
    
}
.nav-title span{
    color: #FD6E0A;
    
}

nav ul {
    display: flex;
    align-items: center;
    
    
}

nav ul li{
    list-style: none;
    margin-right: 20px;
    font-family: open sans;
    font-weight: 700;
   
    
}
nav ul li a{
    text-decoration: none;
    color:#474747;
}

.btn-primary{
    color: white;
    background-color: #FD6E0A;
    padding: 18px 20px;
    border: none;
    border-radius: 5px;
}
/* Header Style */
.header{
    background-image: url("../images/developer.png"),url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    background-color: #FFF8F3;
}
 
/* Banner style */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 270px;
}

.banner-content{
    max-width:585px;
}

.banner-subtitle{
    font-size: 45px;
    font-weight: 600px;
    color:#474747;
    font-family: open sans;
}
.banner-title{
    font-size: 85px;
    font-weight: 700px;
    font-family: open sans;
}
.banner-details{
    font-size: 18px;
    font-weight: 400px;
    font-family: open sans;
}

.banner-img{
    width: 584px;
    
}

/* About section style */
.ab-title{
    font-family: open sans;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}
.ab-description{
    font-family: open sans;
    font-size: 18px;
    font-weight: 400;
    color: #757575;
}
.ab-container{
    margin: 0 0 70px 0;
    max-width: 830px;
    padding: 100px 155px;
}
#about{
    max-width: 1140px;
    background-color: #FFF8F3;
    border-radius: 10px;
    margin: 70px auto;
}
.clr{
   color: #757575;
}
.clk{
    font-weight: 700;
}
.choto-div{
    display: flex;
    justify-content: space-around;
}
.choto-div p{
    font-family: open sans;
}

   /* Service Section Style Start From Here */

.ser-title{
    font-family: open sans;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}

.ser-description{
    font-family: open sans;
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    padding: 0 340px;
    color: #757575;
}

/* This selector is for all card Element */
.card1{
    width: 260px;
    padding: 100px 30px 30px 30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    gap: 24px;
    margin: 10px;
}
.card1 h3{
    font-family: open sans;
    font-size: 20px;
    font-weight: bold;
}
.card1 p{
    font-family: open sans;
    font-size: 16px;
    font-weight: normal;
    color: #757575;
}

.card{
    max-width: 1140px;
    display: flex;
    margin: -20px auto;
}

.ser-content{
    max-width: 1600px;
    text-align: center;
    margin: 100px 200px;
}

#service{
    margin: 100px 0;
}

/*  "What i do" Container Start from here */

.whatido-container{
    display: flex;
}
.edu-description{
    color: #757575;
    font-family: open sans;
    font-size: 18px;
    font-weight: normal;
}
.edu-subtitle{
    color: #757575;
    font-family: open sans;
    font-size: 20px;
    font-weight: semibold;
}
.edu-title{
    color: #474747;
    font-size: 25px;
    font-weight: bold;
    font-family: open sans;
}
.edu-head{
    color:#474747;
    font-size: 30px;
    font-weight: bold;
    font-family:open  sans;
}
.edu{
    margin-right: 70px;
    margin-left: 20px;
}
.whatido-container{
    max-width: 1140px;
    margin: 100px auto 0 auto;
}

.wtd-title{
    font-size: 35px;
    font-family: open sans;
    font-weight: bold;
    text-align: center;
}
#whatido{
    margin-top: 130px;
    margin-bottom: 50px;
}